/* themes.css */
:root {
  /* Colors */
  --ascii-background-color: rgb(250, 244, 240);
  --ascii-text-color: rgb(163, 148, 139);
  --main-text-color: #58493e;
  --menu-hover-color: #b8a7a1;
  --overlay-color: rgba(0, 0, 0, 0.7);
  --overlay-text-color: rgb(255, 255, 255);
  
  /* Typography */
  --font-family: 'IBM Plex Mono', monospace;
  --font-size-base: 16px;
  --font-size-large: 24px;
  --font-size-small: 14px;
  --font-size-xxlarge: 2.5rem;
  --font-size-large: 1.25rem;
  
  /* Spacing */
  --spacing-small: 10px;
  --spacing-medium: 20px;
  --spacing-large: 30px;
  
  /* Layout */
  --menu-width: 20%;
  --content-width: 80%;
  
  /* Other */
  --ascii-background-opacity: 0.5;
}
